---
layout: compress
# Default layout
---

<!DOCTYPE html>

{% include lang.html %}

{% capture prefer_mode %}
{% if site.theme_mode %}
mode="{{ site.theme_mode }}"
{% endif %}
{% endcapture %}

<html lang="{{ site.lang }}" {{ prefer_mode }}>

{% include head.html %}

{% unless site.theme_mode %}
{% include mode-toggle.html %}
{% endunless %}

<body data-spy="scroll" data-target="#toc">

  {% include sidebar.html %}

  {% include topbar.html %}

  <div id="main-wrapper">
    <div id="main">

      {{ content }}

      {% include footer.html %}

    </div>

    {% include search-results.html %}

  </div> <!-- #main-wrapper -->

  {% if page.mermaid %}
  {% include mermaid.html %}
  {% endif %}

  <div id="mask"></div>

  <a id="back-to-top" href="#" aria-label="back-to-top" class="btn btn-lg btn-box-shadow" role="button">
    <i class="fas fa-angle-up"></i>
  </a>

  {% include search-loader.html %}

  {% include js-selector.html %}


  <!-- dir="auto" -->
  <script>
    var h = document.getElementsByTagName("a");
    for (let i = 0; i < h.length; i++) {
      h[i].setAttribute("dir", "auto");
    }
    var pre = document.getElementsByClassName("post-preview");
    for (let j = 0; j < pre.length; j++) {
      pre[j].setAttribute("dir", "auto");
    }
  </script>

  <!-- Plyr -->
  <script src="/assets/js/plyr/plyr.js"></script>
  <script>
    function toHttps(wurl) {
      return (wurl.slice(0, 4) + "s" + wurl.slice(4));
    }
    function video2player() {
      const player = new Plyr("#player", {
        fullscreen: { enabled: true, fallback: true, iosNative: true, container: null },
        captions: { active: true, language: 'auto', update: false },
        speed: { selected: 1, options: [0.5, 0.75, 1, 1.25, 1.5] },
        quality: { default: 1080, options: [4320, 2880, 2160, 1440, 1080, 720, 576, 480, 360, 240] }
      });
    }
    if ($(".weixin_video").length > 0) {
      $.getJSON('https://api.allorigins.win/get?url=' + encodeURIComponent('http://mp.weixin.qq.com/mp/videoplayer?action=get_mp_video_play_url&vid=' + $("#player").attr("wxv")), function (data) {
        const respon = jQuery.parseJSON(data.contents);
        switch (respon['url_info'].length) {
          case 3:
            $("#player").append(`<source src= ${toHttps(respon['url_info'][0]['url'])} type="video/mp4" size="1080" />`);
            $("#player").append(`<source src= ${toHttps(respon['url_info'][1]['url'])} type="video/mp4" size="720" />`);
            $("#player").append(`<source src= ${toHttps(respon['url_info'][2]['url'])} type="video/mp4" size="480" />`);
            break;
          case 2:
            $("#player").append(`<source src= ${toHttps(respon['url_info'][0]['url'])} type="video/mp4" size="720" />`);
            $("#player").append(`<source src= ${toHttps(respon['url_info'][1]['url'])} type="video/mp4" size="480" />`);
            break;
          case 1:
            $("#player").append(`<source src= ${toHttps(respon['url_info'][0]['url'])} type="video/mp4" size="480" />`);
            break;
          default:
            break;
        }
        $("#player").attr("src", toHttps(respon['url_info'][0]['url']));
        video2player()
      });
    }
  </script>

</body>

</html>