---
layout: compress
# Default layout
---

<!DOCTYPE html>

{% include lang.html %}

{% capture prefer_mode %}
{% if site.theme_mode %}
mode="{{ site.theme_mode }}"
{% endif %}
{% endcapture %}

<html lang="{{ site.lang }}" {{ prefer_mode }}>

{% include head.html %}

{% unless site.theme_mode %}
{% include mode-toggle.html %}
{% endunless %}

<body data-spy="scroll" data-target="#toc">

  {% include sidebar.html %}

  {% include topbar.html %}

  <div id="main-wrapper">
    <div id="main">

      {{ content }}

      {% include footer.html %}

    </div>

    {% include search-results.html %}

  </div> <!-- #main-wrapper -->

  {% if page.mermaid %}
  {% include mermaid.html %}
  {% endif %}

  <div id="mask"></div>

  <a id="back-to-top" href="#" aria-label="back-to-top" class="btn btn-lg btn-box-shadow" role="button">
    <i class="fas fa-angle-up"></i>
  </a>

  {% include search-loader.html %}

  {% include js-selector.html %}

  <!-- Weixin Put Url -->
  <script>
    const wxv = document.getElementById("player").getAttribute("wxv");
    $.getJSON('https://api.allorigins.win/get?url=' + encodeURIComponent('http://mp.weixin.qq.com/mp/videoplayer?action=get_mp_video_play_url&vid=' + wxv), function (data) {
      const respon = jQuery.parseJSON(data.contents);
      const chaoqing = respon['url_info'][0]['url'].slice(0, 4) + "s" + respon['url_info'][0]['url'].slice(4);
      const gaoqing = respon['url_info'][1]['url'].slice(0, 4) + "s" + respon['url_info'][1]['url'].slice(4);
      const biaoqing = respon['url_info'][2]['url'].slice(0, 4) + "s" + respon['url_info'][2]['url'].slice(4);
      $("#player").attr("src", chaoqing);
      $(".p1s1").attr("src", chaoqing);
      $(".p1s2").attr("src", gaoqing);
      $(".p1s3").attr("src", biaoqing);
    });
  </script>

  <!-- Plyr Video Player -->
  <script src="/assets/js/plyr/plyr.js"></script>
  <script>
    const player = new Plyr("#player", {
      fullscreen: { enabled: true, fallback: true, iosNative: true, container: null },
      captions: { active: true, language: 'auto', update: false },
      speed: { selected: 1, options: [0.5, 0.75, 1, 1.25, 1.5] },
      quality: { default: 1080, options: [4320, 2880, 2160, 1440, 1080, 720, 576, 480, 360, 240] }
    });
  </script>

  <!-- dir="auto" -->
  <script>
    var h = document.getElementsByTagName("a");
    for (let i = 0; i < h.length; i++) {
      h[i].setAttribute("dir", "auto");
    }
    var pre = document.getElementsByClassName("post-preview");
    for (let j = 0; j < pre.length; j++) {
      pre[j].setAttribute("dir", "auto");
    }
  </script>
</body>

</html>